<?xml version="1.0"?>
<robot name="red_box">

<link name="base_link">
  <collision>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <geometry>
      <box size="0.25 0.15 0.05" />
    </geometry>
  </collision>

  <visual>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <geometry>
      <box size="0.25 0.15 0.05" />
    </geometry>
  </visual>

  <inertial>
    <origin xyz="0 0 0.02" rpy="0 0 0" />
    <mass value="0.00001" />
    <inertia
      ixx="0.00004" ixy="0.0"  ixz="0.0"
      iyy="0.00003" iyz="0.0"
      izz="0.00001" />
  </inertial>
  </link>

<gazebo reference="base_link">
  <material>Gazebo/Red</material>
</gazebo>

</robot>
