<?xml version="1.0"?>
<robot name="red_cylinder">

<link name="base_link">
  <collision>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <geometry>
      <cylinder length="0.04" radius="0.02"/>
    </geometry>
  </collision>

  <visual>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <geometry>
      <cylinder length="0.04" radius="0.02"/>
    </geometry>
  </visual>

  <inertial>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <mass value="0.00001"/>
    <inertia
      ixx="0.00001" ixy="0.0" ixz="0.0"
      iyy="0.00001" iyz="0.0"
      izz="0.00001"/>
  </inertial>
</link>

<gazebo reference="base_link">
  <material>Gazebo/Red</material>
</gazebo>



</robot>

